/* * {
  box-sizing: border-box;
  
} */

/* Add padding to containers */ 
/*.dummy {
  padding: 16px;
  margin: 50px;
} */

h1 {
  text-align: center;
  font-family: questagrande;
  color: orange;
  text-shadow: 2px 2px gray; 
  font-size: 50px;
}
#title {
  color: rgba(24, 224, 24, 0.767);
}
/* Full-width input fields */
input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus{
  background-color: #ddd;
  outline: none;
}


/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: black;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: 1px solid greenyellow;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
  transition: 0.5s;
  position: relative;
  left: 20%;
  border-radius: 20mm;
}


.registerbtn:hover {
  background-color: lightcoral;
  color: black;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 70%;
  transition: 0.5s;
  position: relative;
  left: 10%;
}

.registerbtn:focus{
  outline: none;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
