{% extends 'register.html' %}
{% block login_body %}
<form action="{% url 'accounts:login' %}" method="POST">
  {% csrf_token %}
    <div class="dummy">
      <h1>BOOK <span id="title">WORLD</span></h1>
      <h2>Login</h2>
      <hr>
  
      <label for="email"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" id="email" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" id="psw" required>
  
      <button type="submit" class="registerbtn">Login</button>
    </div>

    <div class="dummy signin">
        <p>Don't have an account? <a href="{% url 'accounts:register' %}">Create an account</a>.</p>
    </div>
    <br><br>
  </form>
{% endblock %}