{% extends 'layout.html' %}
{% load static %}

{% block title %}
Book World | Sell your book online
{% endblock title %}

{% block cssfilename %}
<link rel="stylesheet" href="{% static 'css/sell.css' %}">
{% endblock cssfilename %}


{% block body %}

    <h1>A BOOK WORLD</h1>
    <p>Ye Hai Hamari Apni Kitab Ki Duniya!</p>
  
    <div class="ucontainer">
        <form action="#">
            {% csrftoken %}
            <input type="text" id="input" name="" placeholder="Name">
            <input type="email" id="input" name="" placeholder="Email Id">
            <input type="text" id="input" name="" placeholder="Mobile no">
            <input type="text" id="input" name="" placeholder="Address">
            <input type="file" id="input" name="" placeholder="Upload your book">
            <input type="submit">
        </form>
    </div>
    <br><br><br><br>

{% endblock body %}